//Table responsive parent

.table-responsive {
  overflow-x: auto;
  overflow-y: none;
}

//Buttons in table

table .buttons {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
}

//Website table

.table-head {
  background: $brandColor;
  tr th {
    border-color: $brandColor;
    color: white !important;
  }
}
.table-body {
  tr {
    transition: background 0.25s;
    &:hover {
      background: rgba(255, 48, 48, 0.15);
      cursor: pointer;
    }
  }
}