@import "@/Styles/Components/Colors.scss";

.event-container {
  display: flex;
  flex-wrap: wrap;
}
.event-column {
  width: 50%;
  padding: 15px;
  &-title {
    padding: 15px;
    background: white;
    border: 1px solid $borderColor;
  }
}

//Event Form

.event-form {
  padding: 15px;
  background: white;
  border: 1px solid $borderColor;
}

//Event submit

.event-submit {
  margin: 25px 0 0 0;
  justify-content: flex-end;
}


//Media

@media screen and (max-width: 1120px) {
  .event-column {
    width: 100%;
    padding: 0;
  }
}