@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.home {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 992px) {
  .home {
    flex-wrap: wrap;
  }
}