@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.home-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// Baner
.home-baner
{
  position: relative;
}

.baner-image
{
  width: 100%;
  height: 100%;
}

.baner-content
{
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;

  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  background: rgba(gray,0.5);

  font-family: 'Open Sans', sans-serif;
}

.content-header
{
  font-size: 36px;
  text-transform: uppercase;
}

.content-text
{
  font-size: 25px;
}

// Info Box
.home-main
{
  display: flex;
  justify-content: center;
}


.info-frame
{
  display: flex;
  justify-content: center;
}

.info-main
{
  position: relative;
}

.info-top,.info-bot
{
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;

  color: white;
  background: rgba(gray,0.5);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  >label
  {
    margin-left: 5px;
    font-size: 15px;
  }

  display: flex;
  align-items: center;
}

.info-top
{
  top: 0;
}

.info-bot
{
  bottom:0;
}

.info-img
{
  height: 100%;
  max-height: 600px;
  width: 700px;
}

.info-other
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
}

.info-item
{
  position: relative;
  height: 100%;
}

.info-text
{
  position: absolute;
  color: white;
  white-space: nowrap;
  background: rgba(gray,0.5);
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  text-transform: uppercase;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.other-img
{
  max-height: 150px;
  height: 100%;
  width: 200px;
}

// Top Players
.home-players
{
 margin-left: 5px;
}

.players-frame
{
  border: 1px solid gray;
}

.players-top
{
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  &::after
  {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    content: '';
    background: red;
  }
}

.player-profile
{
  display: flex;
  align-items: center;
}

.player-photo
{
  width: 60px;
}

.player-name
{
  margin-left: 5px;
  text-transform: uppercase;
}

//All tables
table
{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

// Settlements Table Rank
.table-settlements
{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 10px;
}

.table-frame
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  border: 1px solid gray;
}

.table-title
{
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  >label
  {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  position: relative;

  &::after
  {
    display: block;
    content: '';

    height: 5px;
    background: red;
    position: absolute;
    width: 100%;
    bottom: -5px;
  }  
}

.settlements-table
{
  width: 100%;
}

.settlement-item
{
  display: flex;
  align-items: center;
}

.settlement-img
{
  width: 40px;
  height: 40px;
  margin-left: -5px;
}

@media screen and(max-width: 768px)
{
  // Baner
  .baner-content
  {
    padding: 0 5px 0 5px;
    height: auto;
  }

  .content-header
  {
    font-size: 18px;
    text-transform: uppercase;
  }

  .content-text
  {
    font-size: 12px;
  }

  //Top Players
  .players-frame
  {
    width: 80%;
  }

  .home-players
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //Info box
  .info-other
  {
    flex-direction: row;
    padding: 10px;
  }

  .info-text
  {
    font-size: 50%;
  }

  .info-frame,.home-main
  {
    flex-wrap: wrap;
  }

  //Settlement Table
  .settlement-label
  {
    font-size: 12px
  }
}