@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

table
{
  text-transform: uppercase;
}

.settlements-container
{
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.settlements-table
{
  border: 1px solid black;
  width: 60%;
}

.settlements-heading
{
  >h4
  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  position: relative;
  &::after
  {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 5px;
    background: red;
  }
}

.arrow-left, .arrow-right
{
  background: none;
  padding: 0;
  outline: none;
  border: none;
  >svg
  {
    width: 15px;
  }
}

.arrow-left
{
  margin-right: 5px;
}

.arrow-right
{
  margin-left: 5px;
}


.settlement-img
{
  max-width: 100px;
  width: 100%;
  height: auto;
}



@media screen and(max-width: 1215px)
{
  table
  {
    font-size: 12px;
  }

  .settlements-table
  {
    width: 90%;
  }
}