@import "@/Styles/Components/Colors.scss";

.panel {
  position: fixed;
  left: 95px;
  top: 60px;
  width: calc(100% - 95px);
  height: calc(100vh - 60px);
  overflow-y: auto;
  background: #f7f7f7;
  padding: 50px;
  transition: left 0.25s;
  z-index: 50;
  margin: 0;
  &.is-active {
    left: 95px;
    width: calc(100% - 95px);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    h1 {
      margin: 0 !important;
    }
  }
}

//Media

@media screen and (max-width: 1200px) {
  .panel {
    padding: 25px;
  }
}

@media screen and (max-width: 768px) {
  .panel {
    padding: 15px;
    left: 0;
    width: 100%;
    &-header {
      justify-content: center;
      text-align: center;
      h1 {
        width: 100%;
        margin: 0 0 25px 0 !important;
      }
    }
  }
}
