.pageloader-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}
.loader {
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #c20505;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
