@import "../../Styles/Components/Colors";

.menu {
  position: fixed;
  left: 0;
  top: 60px;
  width: 95px;
  height: calc(100vh - 60px);
  border-right: 1px solid $borderColor;
  background: white;
  transition: transform 0.25s;
  &.is-active {
    transform: translate3d(0,0,0);
  }
  &-list {
    padding: 50px 0;
    &-item {
      position: relative;
      a {
        padding: 20px;
        transition: background 0.25s;
        width: calc(100% + 2px);
        &.router-link-exact-active {
          border-right: 2px solid $brandColor;
          background: rgba(255, 51, 51, 0.1);
          svg {
            fill: #d11b17;
          }
        }
        svg {
          width: 30px;
          height: 30px;
          transition: fill 0.25s;
        }
        &:hover, &:focus {
          background: rgba(255, 51, 51, 0.1);
          svg {
            fill: #d11b17;
          }
        }
      }
    }
  }
}


//Media

@media screen and (max-width: 768px) {
  .menu {
    transform: translate3d(-100px,0,0);
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu {

    overflow-y: auto;
    overflow-x: hidden;
  }
}