@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

$navigationHeight: 60px;

.navigation-logo
{
    width: $navigationHeight;
    height: $navigationHeight;
}

.navigation-bar
{
    height: $navigationHeight;
    background-color: white;
    box-shadow: 0 4px 6px -6px rgba(34,34,34,.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navigation-actions
{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation-links
{
    display: flex;
    background: white;
    z-index: 10;

    font-family: 'Open Sans', sans-serif;
}

.navigation-link
{
    >a
    {
        display: block;
        color: black;

        &::after
        {
            position: absolute;
            display: block;
            content: '';
    
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background: red;
    
            transition: width 0.5s;
        }

        &:hover, &.router-link-exact-active
        {
            cursor: pointer;
            &::after
            {
                width: 100%;
    
            }
        }
    }
    padding: 0 15px;
    position: relative;

    line-height: $navigationHeight;    
}

.navigation-burger
{
    display: none;

    .burger-segment
    {
        display: block;
        width: 25px;
        height: 3px;
        position: relative;
        background: black;

        &:before {
            background: black;
            width: 100%;
            height: 3px;
            display: block;
            content: '';
            top: -5px;
            position: absolute;
          }
          &:after {
            background: black;
            width: 100%;
            height: 3px;
            display: block;
            content: '';
            top: 5px;
            position: absolute;
          }
    }
}

@media screen and(max-width: 1024px)
{
    .navigation-burger
    {
        display: flex;
        align-items: center;
        background: none;
        padding: none;
        border: none;
        outline: none;
        padding: 0;
        width: 25px;
        height: 25px;
    }

    .navigation-actions
    {
        height: $navigationHeight;
    }

    .navigation-links
    {
        display: none;
        height: 0;
        &.active
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: fixed;
            top: $navigationHeight;
            height: 100%;
        }
    }
}