@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.contact-container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

span
{
  color: red;
}

.contact-box
{
  width: 50%;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

.header-text, .form-header
{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 32px;
 &::after
 {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 4px;
   bottom: 0;
   left: 0;

   background: red;
 }
}

.contact-data
{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.contact-img
{
  width: 50%;
}

.contact-text
{
  height: 100%;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

//Form

.form-header
{
  width: 100%;
}

.form
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 15px;
}

.input-name,.input-email
{
  width:48%;
}

.input-name
{
  float: left;
}

.input-email
{
  float: right;
  margin-left: 4%;
}

.input-title
{
  margin-top: 10px;
  width: 100%;
}

.input-msg
{
  margin-top: 10px;
  width: 100%;
  height: 150px;
  resize: none;
}


input,textarea
{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.button-send
{
  width: 100%;
  height: 60px;

  outline: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid black;
  position: relative;
  &:hover
  {
    cursor: pointer;

    &::after
    {
      position: absolute;
      width: 100%;
      height: 4px;
      background: red;
      content: '';
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and(max-width: 768px)
{
  .contact-box
  {
    width: 100%;
  }
}