@import "@/Styles/Components/Colors.scss";

.footer {
  border-top: 3px solid #ce5659;
  padding: 25px 15px;
  background: #1d1d21;
  width: 100%;
  position: relative;
  text-align: center;
  &-link {
    color: white;
    transition: color 0.25s;
    &:focus, &:hover {
      color: #ce5659;
    }
  }
  &-social {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    &-item {
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.25s;
      svg {
        width: auto;
        height: 20px;
        fill: white;
        transition: fill 0.25s;
      }
      &:hover, &:focus {
        border-color: #ce5659;
        color: #ce5659;
      }
    }
  }
  &-copyright {
    color: #656573;
    font-size: 14px;
    a {
      color: white;
      transition: color 0.25s;
      &:hover, &:focus {
        color: #ce5659;
      }
    }
  }
}