@import "@/Styles/Colors.scss";

.footer-container {
  padding: 25px 15px;
  background: #ebebeb;
  width: 100%;
  position: relative;
  text-align: center;
  &::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
  }
}

//Footer logo

.footer-logo {
  height: 80px;
}

//Footer Copyright

.footer-copyright {
  color: #858585;
  font-size: 14px;
  a {
    color: #ce1d13;
  }
}

//Social link

.logo-frame {
  color: #3273dc;
  &:hover, &:focus {
    svg {
      path {
        fill: #3F51B5;
      }
    }
  }
  .facebook-logo {
    height: 30px;
    margin: 5px 0;
    fill: #3F51B5;
  }
}
