.footer-container
{
  height: 120px;
  width: 100%;
  position: relative;

  &::before
  {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: red;
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-logo
{
  height: 100px;
}

.footer-facebook
{
  display: flex;
  align-items: center;
}

.logo-frame
{
  margin-left: 15px;
}

.facebook-logo
{
  height: 40px;
}