@import "@/styles/colors.scss";

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid $borderColor;
  z-index: 60;
  background: white;
  &-left, &-right {
    height: 100%;
    display: flex;
  }
}

//navigation panel 

.navigation-panel {
  position: relative;
  height: 100%;
  border-left: 1px solid $borderColor;
}
.navigation-panel-btn {
  height: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  transition: background 0.25s;
  img {
    height: auto;
    width: 30px;
  }
  svg {
    width: 10px;
    height: 10px;
    fill: #e2e5ef;
    transition: transform 0.25s;
  }
  p {
    margin: 0 20px;
    font-weight: 500;
  }
  &.is-active {
  
    svg {
    transform: rotate(-180deg);
    }
  }
}

//Navigation dropdown

.navigation-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.10);
  background: white;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: $brandColor;
  }
  &-content {
    padding: 15px 20px;
  }
}

//navigation logo

.navigation-logo {
  height: 100%;
  border-right: 1px solid $borderColor;
  padding: 0 15px 0 0;
  img {
    width: auto;
    height: 100%;
  }
}

//Navigation search bar

.navigation-search {
  input {
    height: 100%;
    border-radius: 0;
    border: none;
    border-right: 1px solid $borderColor;
    &:focus, &:hover {
      background: #ffffff;
      box-shadow: none;
    }
  }
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: rgba(0,0,0,0.18);
  }
}

//navigation button 

.navbar-burger {
  height: 100%;
  border-right: 1px solid $borderColor;
  color: $brandColor;
  display: none;
}

//Media

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0;
  }
  .navigation-panel-btn {
    min-width: auto;
    padding: 0 10px;
    p {
      display: none;
    }
    img {
      margin: 0 15px 0 0;
    }
  }
  .navigation-logo {
    margin: 0 0 0 15px;
  }
  .navigation-dropdown {
    width: auto;
    right: 0;
    left: inherit;
  }
  .navbar-burger {
    display: block;
  }
}

@media screen and (max-width: 476px) {
  .navigation-panel {
    border-left: none;
  }
  .navigation-panel-btn img {
    display: none;
  }
} 