.navigation {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  box-shadow: 0 4px 6px -6px rgba(34,34,34,.6);
}
.navigation-panel {
  position: relative;
}
.navigation-panel-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  img {
    height: auto;
    width: 30px;
  }
  svg {
    width: 10px;
    height: 10px;
    fill: #e2e5ef;
    transition: transform 0.25s;
  }
  p {
    margin: 0 20px;
    font-weight: 500;
  }
  &.is-active {
    border-bottom: 2px solid red;
    svg {
    transform: rotate(-180deg);
    }
  }
}
.navigation-panel-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

}

.navigation-logo {
  height: 100%;
  width: 100px;
  img {
    width: auto;
    height: 100%;
  }
}