@import "../../Styles/Components/Colors";

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid $borderColor;
  background: white;
  &-left, &-right {
    height: 100%;
    display: flex;
  }
}

//navigation panel 

.navigation-panel {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border-left: 1px solid $borderColor;
  &-user {
    padding: 0 10px;
    font-size: 15px;
  }
  &-logout {
    display: flex;
    align-items: center;
    height: 100%;
    border: 0;
    background: none;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    font-weight: 600;
    font-size: 18px;
    padding: 0 12px;
    outline-color: $brandColor;
    svg {
      width: 25px;
      height: 25px;
      fill: #4a4a4a;
      transition: fill 0.25s;
    }
    span {
      margin: 0 5px 0 0;
    }
    &:hover, &:focus {
      cursor: pointer;
      svg {
        fill: $brandColor;
      }
    }
  }
}

//navigation logo

.navigation-logo {
  height: 100%;
  border-right: 1px solid $borderColor;
  padding: 0 15px 0 0;
  img {
    width: auto;
    height: 100%;
  }
}

//Navigation search bar

.navigation-search {
  input {
    height: 100%;
    border-radius: 0;
    border: none;
    border-right: 1px solid $borderColor;
    &:focus, &:hover {
      background: #ffffff;
      box-shadow: none;
    }
  }
  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: rgba(0,0,0,0.18);
  }
}

//navigation button 

.navbar-burger {
  height: 100%;
  border-right: 1px solid $borderColor;
  color: $brandColor;
  display: none;
}

//Media

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0;
  }
  .navigation-panel-user {
    display: none;
  }
  .navigation-panel-logout {
    border-left: none;
    border-right: none;
  }
  .navigation-logo {
    margin: 0 0 0 15px;
  }
  .navbar-burger {
    display: block;
  }
}

@media screen and (max-width: 412px) {
  .navigation-panel {
    border-left: none;
    &-logout svg {
      width: 20px;
      height: 20px;
    }
  }
} 