@import "@/Styles/Components/Colors.scss";

.search {
  border: 1px solid $borderColor;
  background: white;
  &-table {
    border: 0;
    thead th, tbody th {
      padding: 15px;
    }
  }
  &-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid $borderColor;
    &-item {
      &-btn {
        border: none;
        background: none;
        padding: 16px 12px;
        font-size: 18px;
        font-weight: 600;
        transition: color 0.25s;
        &.active, &:focus, &:hover {
          border-bottom: 2px solid $brandColor;
          cursor: pointer;
          outline-color: rgba(0,0,0,0);
          color: $brandColor;
        }
      }
    }
  }
}