@import "@/Styles/Components/Colors.scss";

.slider {
  width: 100%;
  position: relative;
  &-item {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(54, 54, 54, 0.5);
    }
    &-content {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      &-title a {
        color: white;
        transition: color 0.25s;
        font-size: 18px;
        font-weight: 600;
        &:hover {
          color: $brandColor;
        }
      }
    }
    &-date {
      position: absolute;
      top: 25px;
      right: 25px;
    }
  }
}

//Pagination

.VueCarousel-dot {
  margin-top: 0 !important;
}
.VueCarousel-dot-button {
  width: 30px !important;
  height: 4px !important;
  background: rgb(213, 207, 198);
  border-radius: 0 !important;
}

//Media

@media screen and (max-width: 992px) {
  .slider {
    width: 100%;
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 576px) {
  .slider-item {
    height: 300px;
    &-content {
      bottom: 25px;
      width: 100%;
      padding: 15px 0;
    }
    &-date {
      font-size: 12px;
    }
  }
}