@import "@/Styles/Components/Colors.scss";

.website {
  overflow-x: hidden;
  &-header {
    border: 1px solid $borderColor;
    background: white;
    margin: 0 0 25px 0;
    h1, h2, h3 {
      margin: 0;
      padding: 15px;
      border-left: 6px solid $brandColor;
    }
  }
}

.description {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $borderColor;
  background: white;
  margin-top: 0 !important;
  margin-left: 0 !important;
  &-header {
    width: 100%;
    padding: 15px;
    border-left: 6px solid $brandColor;
    margin: 0 !important;
  }
  &-img {
    width: 30%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    width: 70%;
    padding: 0 25px;
    &-text {
      margin: 0 0 15px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

//Stats

.stats {
  &-table {
    margin: 25px 0;
  }
}

//Media

@media screen and (max-width: 768px) {
  .description {
    &-img {
      width: 100%;
      img {
        height: auto;
      }
    }
    &-content {
      width: 100%;
      padding: 15px;
    }
  }
}