.searchbar-text
{
  width: 140px;
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  &:active, &:focus
  {
    border: none;
    border-bottom: 1px solid black;
  }
  
}

::placeholder
{
  color: darkgray;
}

.searchbar-button
{
  display: inline-block;

  background: none;
  border: none;
  outline: none;
  >svg
  {
    width:15px;
    height: 15px;
  }
  &:hover
  {
    cursor: pointer;
    path
    {
        fill: gray;
    }
  }
}