@import '@/Styles/Components/Colors.scss';

.searchbar-text {
  font-size: 15px;
  width: 140px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
  transition: border 0.25s;
  padding: 5px;
  &:active, &:focus {
    outline: none;
    border-color: $brandColor;
  }
}

//Search button

.searchbar-button {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  > svg {
    width: 15px;
    height: 15px;
    transition: all 0.25s;
  }
  &:hover, &:focus {
    cursor: pointer;
    svg {
      path {
        fill: $brandColor;
      }
    }
  }
}