.contestants-container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 15px;
  padding-top: 15px;
}

.contestants-list
{
  width: 60%;
  border: 1px solid black;
}

.list-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  padding: 10px;

  &::after
  {
    position: absolute;
    content: '';
    width: 100%;
    height: 6px;

    left: 0;
    bottom: 0;
    background: red;
  }
}

.arrow-left, .arrow-right
{
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;

  &:hover
  {
    path
    {
      fill: gray;
    }
  }
}

.players-table
{
  width: 100%;
}

.table-cell
{
  display: flex;
  align-items: center;
}

.table-img
{
  width: 40px;
  height: 40px;
  display: inline-block;
}

.contestant-details
{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contestant
{
  width: 60%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid black;
}

.player-img 
{
  max-width: 300px;
  max-height: 300px;
}

.details-profile
{
  display: flex;
}

.player-info
{
  margin-left: 15px;
}

.player-header, .settlement-header, .achievments-header
{
  position: relative;
  text-align: center;
  &::after
  {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    content: '';
    background: red;
  } 
}

.details-settlement
{
  align-self: flex-start;
}

.settlement-img
{
  max-width: 200px;
}

.season-achievments
{
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

.season-tops
{
  border: 1px solid black;
}

.achievments-header
{
  padding: 15px;
}

.achievment
{
  padding: 15px;
  border: 1px solid gray;
}

.trophy-gold, .trophy-silver, .trophy-copper
{
  width: 20px;
}

.trophy-gold
{
  path
  {
    fill: gold;
  }
}
.trophy-silver
{
  path
  {
    fill: silver;
  }
}
.trophy-copper
{
  path
  {
    fill: brown;
  }
}

.contestant-seasons
{
  width: 60%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-panel, .right-panel
{
  width: 49%;
  border: 1px solid black;
}

.panel-header
{
  display: flex;
  padding: 15px;
  justify-content: space-around;
  position: relative;
  &::after
  {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background: red;
    height: 5px;
    width: 100%;
  }
}

.panel-table
{
  width: 100%;
}

.season-buttons
{
  display: flex;
  align-items: center;
}

.table th
{
  padding: 5px 0 5px 0;
}

@media screen and(max-width: 1215px)
{
  .contestant, .contestants-list, .contestant-seasons
  {
    width: 100%;
  }

  .contestant-seasons
  {
    flex-wrap: wrap-reverse;
  }

  .left-panel, .right-panel
  {
    width: 100%;
  }

  .left-panel
  {
    margin-top: 10px;
  }

  .contestant
  {
    flex-direction: column;
  }

  .details-settlement
  {
    align-self: center;
  }

  .season-achievments
  {
    margin-top: 10px;
    width: 100%;
  }

  .details-profile
  {
    flex-direction: column;
  }

  .table-cell
  {
    flex-direction: column;
  }
}