@import "@/Styles/Components/Colors.scss";

.event {
  background: white;
  border: 1px solid $borderColor;
  &-description {
    padding: 15px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-title {
      margin: 0;
      border-left: 6px solid $brandColor;
      padding: 10px;
      font-weight: 600;
      font-size: 26px;
    }
    &-date {
      padding: 0 10px 0 0;
    }
  }
  &-lightbox {
    &-title {
      margin: 0 0 25px 0;
      font-weight: 600;
      font-size: 24px;
      background: white;
      border: 1px solid $borderColor;
      h3 {
        border-left: 6px solid $brandColor;
        padding: 10px;
        font-weight: 600;
        color: #363636;
      }
    }
    &-thumbnail {
      width: 50%;
      margin: 0 auto;
      display: block;
    }
  }
}

//Media

@media screen and (max-width: 768px) {
  .event-lightbox-thumbnail {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .event-top-title {
    width: 100%;
  }
  .event-top-date {
    padding: 0 0 0 15px;
  }
}